@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--white);
	box-shadow: 0 0 10px white;
}
.nav-menu {
	display: none;
}
.nav-logo {
	width: 100px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--white);
	padding: 8px;
	border-radius: 8px;
	text-shadow: 0 0 3px whitesmoke;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--dark-green);
	color: green;
	text-shadow: 0 0 3px var(--dark-green);
	box-shadow: 0 0 2px var(--dark-green);
}
.navbar-email {
	color: var(--white);
	font-size: var(--sm);
	margin-right: 12px;
	cursor: pointer;
	text-shadow: 0 0 3px whitesmoke;
}
.navbar-shopping-cart {
	position: relative;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: lightgreen;
	border-radius: 50%;
	border: 1px solid var(--dark-green);
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 780px) {
	.nav-menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}
